*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

  }
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #FB7B30 0%,#A831A5 100%);
}
main {
    margin: 6% 10%;
}
.center {
    background: white;
    border-radius: 40px;
    margin: 1% 0;
    padding: 2% 5%;
}
.signe_up {
    text-align: center;
}
.center h1{
    text-align: center;
    padding: 5px 0 20px 0;
    border-bottom: 1px solid silver;
  }
.center h2 {
    text-align: center;
}
.center h2 a {
    color: black;
    text-decoration: none;
}
.text_field {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    margin: 1% 0;
}
.text_field div {
    width: 40%;
    margin: 1% 5%;
}
.text_field label {
    font-size: 15px;
}
.sup {
    text-align: center;
}
.text_field input{
    width: 100%;
    border-radius: 12px;
    height: 43px;
    padding-left: 5%;
}
.submit {
    font-size: 19px;
    border-radius: 30px;
    border: none;
    height: 42px;
    margin: 1% 0;
    width: 40%;
    color: #fff;
    background-image: linear-gradient(to right, #FB7B30 0%,#A831A5 100%);
}

@media (max-width: 700px) {
    .text_field{
        display: block;
    }
    .text_field input {
        padding-left: 5%;
    }
    .text_field div {
        width: 100%;
        margin: 2% 0;
    }
    .center {
        top: 48%;
        height: 83%;
    }
    .submit {
        width: 70%;
        margin: 2% 0;
    }
}

@media (max-width: 390px) {
    
    main {
        margin: 20% 5%;
    }
    
}



 